@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  border: none;
  text-shadow: none;
  box-shadow: none;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio {
  margin: 0.5rem 0;
}

#workspaces button {
  color: @text;
  padding: 0 0.6rem;
  border: 3px;
  border-bottom: 2px solid @base;
}

#workspaces button.active {
  border-bottom: 2px solid @flamingo;
}

#workspaces button:hover {
  background: @overlay0;
}

#pulseaudio, #custom-notification, #idle_inhibitor {
  margin: 0 0.5rem;
}

#tray {
  margin: 0 0.5rem;
}

#tray menu {
  font-family: "Noto Sans";
  font-size: 12px;
  background: @base;
  color: @text;
  border-radius: 0.5rem;
  border: 1px solid @flamingo;
}

#tray menu menuitem:hover {
  background-color: @flamingo;
  color: @mantle;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}
