#!/usr/bin/env bash

{{ if eq .chezmoi.hostname "notascam" }}
xrandr --output XWAYLAND0 --primary --mode 3840x2160 --pos 1920x0 --rotate normal --output XWAYLAND1 --mode 1920x1080 --pos 0x0 --rotate normal
{{ end }}
