# For all categories, see https://wiki.hyprland.org/Configuring/Variables/
input {
    kb_layout = us
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =
    numlock_by_default = true

    follow_mouse = 1

    {{- if eq .chezmoi.hostname "notascam" }}
    touchpad {
        natural_scroll = false
    }
    sensitivity = -0.5 # -1.0 - 1.0, 0 means no modification.
    {{- end }}

    {{- if eq .chezmoi.hostname "notascam-mobile" }}
    touchpad {
        natural_scroll = true
        scroll_factor = 0.3
    }

    sensitivity = 0.3 # -1.0 - 1.0, 0 means no modification.
    {{- end }}
}


# Example per-device config
# See https://wiki.hyprland.org/Configuring/Keywords/#per-device-input-configs for more
